{% extends 'basepagina.html' %}
{% block contenido%}


<!DOCTYPE html>
<html>
<head>
 
</head>
<body>
  <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
               <h3><strong>Registro y Calculo de Sueldos</strong></h3>
              </header>
              <div class="panel-body">
                <form  method="post" class="form-horizontal method="get" >
                  {% csrf_token %}

               
                  <!--Link para ingresar una nueva especialidad caso que no exista-->  

                  <div class="form-group">
                    <label class="col-sm-2 control-label"><strong>Seleccione Trabajador</strong></label>
                    <div class="col-sm-10">
                      {{ form.trabajador}}
                    </div>
                  </div>

                   <div class="form-group">
                    <label class="col-sm-2 control-label"><strong>Seleccione mes</strong></label>
                    <div class="col-sm-10">
                      {{ form.mes}}
                    </div>
                  </div>

                   <div class="form-group">
                    <label class="col-sm-2 control-label"><strong>Cantidad de pago por hora </strong></label>
                    <div class="col-sm-10">
                      {{ form.sueldoHora}}
                    </div>
                  </div>

                   <div class="form-group">
                    <label class="col-sm-2 control-label"><strong>Cantidad horas base en el mes</strong></label>
                    <div class="col-sm-10">
                      {{ form.horasTrabajadasMes}}
                    </div>
                  </div>

                    <div class="form-group">
                    <label class="col-sm-2 control-label"><strong>Cantidad horas extras en el mes</strong></label>
                    <div class="col-sm-10">
                      {{ form.horasExtrasMes}}
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label"><strong>Total a pagar</strong></label>
                    <div class="col-sm-10">
                      {{ form.totalPagar}}
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label"><strong>Registro de horas extras</strong></label>
                    <div class="col-sm-10">
                      {{ form.horasExtras}}
                    </div>
                  </div>

                  <center><button type="submit" class="btn btn-primary">Registrar y calcular sueldo</button></center>

                </form>
                
              </div>
             </section>
           </div>
        </div>

   

   </body>

</html>


{% endblock %}